APP_ENV=dev
APP_PORT=8080

DB_HOST=mysql
DB_PORT=3306
DB_USER=task_user
DB_PASSWORD=task_password
DB_NAME=task_api

REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=change-me-in-local-env
JWT_EXPIRES_IN=24h
